/**
 * Custom styles for this theme
 */
#front-page-edit-link {
  position: fixed;
  bottom: 0;
  right: 0;
}
#front-page-edit-link .tabs {
  border: none;
}
#front-page-edit-link li:nth-child(1) {
  display: none;
}
#front-page-edit-link li:nth-child(3) {
  display: none;
}
#front-page-edit-link li:nth-child(2) a {
  padding: 10px 30px;
}
.position-ab {
  position: absolute;
}
.position-re {
  position: relative;
}
.txt-dec-n {
  text-decoration: none;
}
.list-ul ul {
  padding: 0;
}
.list-style li {
  list-style: none !important;
}
/* Clears all floats */
.clear-all {
  clear: both;
}
/* Clears left floats */
.clear-left {
  clear: left;
}
/* Clears right floats */
.clear-right {
  clear: right;
}
.icon-reset {
  display: inline;
  color: #5c6b71;
  padding-right: 15px;
  font-size: 14px;
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 32px;
}
h3,
.h3 {
  font-size: 29px;
}
h4,
.h4 {
  font-size: 33px;
}
h5,
.h5 {
  font-size: 31px;
}
h6,
.h6 {
  font-size: 17px;
}
a {
  outline: none;
  color: #eb6209;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #004a99;
}
a:link,
a:visited {
  outline: none;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: underline;
}
blockquote {
  margin: 20px 0;
  padding: 30px 0 30px 60px;
  color: #5c6b71;
  font-size: 2.000em;
  font-weight: 300;
  line-height: 47px;
  border-left: 6px solid #004a99;
}
body {
  color: #5c6b71;
  font-family: "Droid Sans", sans-serif, Helvetica, Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.714;
  overflow-x: hidden !important;
  -ms-overflow-style: scrollbar;
}
/** Helper classes **/
/* Clears children floats */
.clearfix:before,
.clearfix:after,
#content-area:before,
#content-area:after {
  content: "";
  display: table;
}
.clearfix:after,
#content-area:after {
  clear: both;
}
.clearfix,
#content-area {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
a:focus,
input[type="submit"]:focus {
  outline: none;
}
.hidden-text {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 20px;
  border: none;
  background: #004a99;
  color: #fff;
  font-size: 1.111em;
  border-radius: 5px;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: #78cbe0;
}
input[type="reset"] {
  border: none;
  vertical-align: top;
}
.more-btn a {
  display: inline-block;
  width: 360px;
  padding: 13px 0;
  background: #eb6209;
  color: #fff;
  font-size: 1.111em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
.more-btn a:hover {
  background: #78cbe0;
}
@media (max-width: 991px) {
  .more-btn a {
    width: 190px;
    padding: 5px 6px !important;
    font-size: 0.900em !important;
    line-height: 30px !important;
  }
}
@media (max-width: 767px) {
  .more-btn a {
    width: 100%;
    padding: 10px 6px !important;
  }
}
/** Helper classes **/
#container {
  margin: 0 -15px;
}
/*............... page layouts.............*/
#content-area {
  margin-left: -15px;
  margin-right: -15px;
}
#sidebar-left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #sidebar-left {
    float: left;
    width: 25%;
  }
}
#main {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #main {
    float: left;
    width: 100%;
  }
}
#sidebar-right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #sidebar-right {
    float: left;
    width: 25%;
  }
}
/*............. left sidebar ...............*/
@media (min-width: 768px) {
  .sidebar-left #sidebar-left {
    right: 75%;
  }
}
.sidebar-left #main {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .sidebar-left #main {
    float: left;
    width: 75%;
  }
}
@media (min-width: 768px) {
  .sidebar-left #main {
    left: 25%;
  }
}
/*............. right sidebar ...............*/
.sidebar-right #main {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .sidebar-right #main {
    float: left;
    width: 75%;
  }
}
/*............. two sidebar ...............*/
@media (min-width: 768px) {
  .two-sidebars #sidebar-left {
    right: 50%;
  }
}
.two-sidebars #main {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .two-sidebars #main {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .two-sidebars #main {
    left: 25%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #004a99;
  font-family: "Merriweather", sans-serif, Helvetica, Arial;
}
/*........ Header ........*/
.header {
  padding: 25px 0;
}
.header .social-network {
  margin-bottom: 30px;
}
.header .social-network p {
  margin: 0;
}
.header .top-cnt {
  clear: both;
}
.header .top-cnt .clear-block .content ul li {
  display: inline-block;
  font-size: 0.974em;
}
.header .top-cnt .clear-block .content ul li a {
  color: #5c6b71;
}
.header .top-cnt .clear-block .content ul li:nth-child(1):before,
.header .top-cnt .clear-block .content ul li:nth-child(2):before {
  display: inline;
  color: #5c6b71;
  padding-right: 15px;
  font-size: 14px;
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 1em;
}
.header .top-cnt .clear-block .content ul li:nth-child(1) {
  margin-right: 35px;
}
.header .top-cnt .clear-block .content ul li:nth-child(1):before {
  content: "\f095";
}
.header .top-cnt .clear-block .content ul li:nth-child(2):before {
  content: "\f0e0";
}
/*........ Header ........*/
/*........ Top nav ........*/
.top-nav {
  background-color: #004a99;
}
.top-nav ul li {
  padding: 0;
  font-size: 0.944em;
}
.top-nav ul li a {
  display: inline-block;
  padding: 16px 10px;
  color: #fff;
  text-transform: capitalize;
}
.top-nav ul li.active-trail a {
  font-weight: 700;
}
.top-nav .top-login a {
  padding: 16px 10px;
  display: inline-block;
  border-left: solid 1px #fff;
  color: #fff;
}
.top-nav .search-icon a {
  padding: 16px 25px;
  display: inline-block;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #fff;
}
#top-nav.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
}
#top-nav.sticky ul li a {
  color: #004a99;
}
#top-nav.sticky .top-login a,
#top-nav.sticky .search-icon a {
  border-left: solid 1px #004a99;
  color: #004a99;
}
#top-nav.sticky .search-icon a {
  border-right: solid 1px #004a99;
}
/*........ Top nav ........*/
/** Top nav responsive **/
@media (max-width: 1199px) {
  .top-nav ul li {
    font-size: 0.850em;
  }
  .top-nav ul li a {
    padding: 18px 7px;
  }
  .top-nav .top-login a,
  .top-nav .search-icon a {
    font-size: 0.850em;
  }
  .top-nav .top-login a {
    padding: 18px 6px;
  }
  .top-nav .search-icon a {
    padding: 18px 20px;
  }
}
@media (max-width: 991px) {
  .top-nav ul li {
    font-size: 0.700em;
  }
  .top-nav ul li a {
    padding: 18px 4px;
  }
  .top-nav .top-login a,
  .top-nav .search-icon a {
    font-size: 0.700em;
  }
  .top-nav .top-login a {
    padding: 18px 4px;
  }
  .top-nav .search-icon a {
    padding: 18px 8px;
  }
}
@media (max-width: 767px) {
  .mobile-logo {
    padding: 0 0 0 15px;
  }
  .mobile-menu {
    margin: 0;
    border: none;
    background: #fff;
  }
  .mobile-menu .navbar-toggle {
    margin-top: 4px;
    margin-right: 5px;
    border-color: transparent;
  }
  .mobile-menu .navbar-toggle .icon-bar {
    width: 18px;
    height: 3px;
    margin-top: 3px;
    background: #5c6b71;
  }
  .mobile-menu .navbar-toggle:hover,
  .mobile-menu .navbar-toggle:focus {
    background-color: transparent;
  }
  .mobile-menu .top-nav {
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: 0;
    padding-top: 0;
    background: none;
    text-align: left;
  }
  .mobile-menu .top-nav ul {
    display: block;
    margin-top: 10px;
  }
  .mobile-menu .top-nav li {
    float: none;
    font-size: .950em;
  }
  .mobile-menu .top-nav li a {
    display: block;
    padding: 3px 0;
    color: #5c6b71;
  }
  .mobile-menu .top-nav li a:hover {
    background: transparent;
    color: #5c6b71;
    text-decoration: underline;
  }
  .mobile-menu .top-nav .bottom-space {
    margin-top: 10px;
  }
  .mobile-menu .navbar-header {
    padding: 8px 0;
  }
  .mobile-menu.navbar-default .navbar-collapse .btn {
    border: solid 1px #5c6b71;
    color: #5c6b71;
    border-radius: 0;
  }
  .mobile-menu.navbar-default .navbar-collapse .btn:hover {
    background: #5c6b71;
    color: #fff;
  }
  .mobile-header-top {
    margin: 10px 10px 0 0;
    padding: 0;
    text-align: right;
  }
  .mobile-header-top li {
    display: inline-block;
    margin-left: 18px;
  }
  .mobile-header-top li a {
    color: #5c6b71;
  }
  .mobile-header-top li i {
    font-size: 1.056em;
  }
  .mobile-header-top li i:hover {
    color: #5c6b71;
  }
  #mobile-header.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
  }
}
/** Top nav responsive **/
/** Slide show **/
.jumbotron {
  margin-bottom: 40px;
  padding: 0;
}
.jumbotron ul {
  margin: 0;
}
.jumbotron ul li {
  overflow: hidden;
}
.jumbotron ul li .banner-image img {
  width: 100%;
}
.jumbotron ul li .slide-content {
  top: 0;
  bottom: 0;
  width: 100%;
}
.jumbotron ul li .slide-content .container,
.jumbotron ul li .slide-content .row {
  height: 100%;
}
.jumbotron ul li .slide-content .col-sm-6 {
  float: right;
  height: 100%;
  margin-right: 110px;
}
.jumbotron ul li .slide-content .slide-box {
  height: 100%;
  padding: 0 55px 0 35px;
  background-color: rgba(0, 74, 153, 0.7);
  color: #fff;
}
.jumbotron ul li .slide-content .slide-box .slide-text {
  top: 47%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.jumbotron ul li .slide-content .slide-box .strapline-text {
  margin-bottom: 20px;
  font-size: 1.667em;
  line-height: 47px;
}
.jumbotron ul li .slide-content .slide-box .action-text {
  text-align: center;
}
.jumbotron ul li .slide-content .slide-box .action-text a {
  display: block;
  margin: 0 auto;
  padding: 12px 0;
  background: #eb6209;
  color: #ffffff;
  font-size: 1.111em;
  line-height: 36.44px;
  text-decoration: none;
}
.jumbotron ul li .slide-content .slide-box .action-text a:hover,
.jumbotron ul li .slide-content .slide-box .action-text a:focus {
  background: #ffffff;
  color: #fff;
}
.jumbotron .control-header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.jumbotron .control {
  max-width: none;
  height: 100%;
}
.jumbotron .control .slide-control {
  top: 50%;
  left: 16px;
  margin-top: -24px;
  z-index: 999;
  width: 80px;
  height: 66px;
  padding: 18px 0;
  background: rgba(0, 74, 153, 0.7);
  text-align: center;
  text-decoration: none;
}
.jumbotron .control .slide-control:hover {
  background-color: rgba(235, 98, 9, 0.7);
}
.jumbotron .control .slide-control-left:before,
.jumbotron .control .slide-control-right:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 29px;
  height: 31px;
}
.jumbotron .control .slide-control-left:before {
  background: url("../images/next-prev.png") no-repeat left 0;
}
.jumbotron .control .slide-control-right {
  left: auto;
  right: 15px;
}
.jumbotron .control .slide-control-right:before {
  background: url("../images/next-prev.png") no-repeat right 0;
}
/** Slide show **/
/** Slide show responsive **/
@media (max-width: 1199px) {
  .jumbotron ul li .slide-content .slide-box {
    padding: 0 35px 0 20px;
  }
  .jumbotron ul li .slide-content .slide-box .strapline-text {
    font-size: 1.500em;
    line-height: 37px;
  }
}
@media (max-width: 991px) {
  .jumbotron ul li .slide-content .slide-box {
    padding: 0 25px 0 25px;
  }
  .jumbotron ul li .slide-content .slide-box .strapline-text {
    font-size: 1.000em;
    line-height: 23px;
  }
  .jumbotron .control .slide-control {
    width: 50px;
    height: 50px;
    padding: 11px 0;
  }
}
@media (max-width: 767px) {
  .jumbotron ul li .banner-image:before {
    position: absolute;
    content: "\00a0";
    height: 100%;
    width: 100%;
    background: rgba(52, 52, 52, 0.7);
  }
  .jumbotron ul li .slide-content .col-sm-6 {
    float: none;
    margin: 0;
  }
  .jumbotron ul li .slide-content .slide-box {
    min-height: auto;
    padding: 0;
    background: transparent;
    text-align: center;
  }
  .jumbotron ul li .slide-content .slide-box .slide-text {
    top: 50%;
  }
  .jumbotron ul li .slide-content .slide-box .strapline-text {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .jumbotron ul li .slide-content .slide-box .strapline-text {
    font-size: 0.800em;
    line-height: 18px;
  }
}
/** Slide show responsive **/
/** Home page **/
.front #content {
  margin-top: 15px;
  margin-bottom: 60px;
}
.front-page h1 {
  margin-bottom: 30px;
}
.front-page .front-btn {
  display: inline-block;
  margin: 40px 28px 0 0;
}
.front-page .front-btn a {
  text-decoration: none;
}
.front-page .front-btn-2 {
  margin-right: 0;
}
/** Front services **/
.front-services {
  padding: 60px 0 30px;
}
.front-services .tab_wrapper {
  margin: 0;
}
.front-services .tab_list {
  margin-bottom: 0;
}
.front-services .tab_list .fnt-services-icon {
  float: left;
  margin: 0 50px 0 30px;
}
.front-services .tab_list .fnt-services-box {
  float: left;
  width: 59%;
}
.front-services .tab_list .fnt-services-title {
  margin-bottom: 10px;
  font-size: 1.667em;
  font-family: "Merriweather", sans-serif, Helvetica, Arial;
  line-height: 25px;
}
.front-services .tab_list .fnt-services-teaser {
  line-height: 24px;
}
.front-services .tab_content h2 {
  margin-bottom: 35px;
  color: #12b1b7;
}
.front-services .frnt-services-cnt p {
  margin-bottom: 30px;
}
/** Front services **/
/** Front testimonial **/
.front-testimonial {
  margin-bottom: 60px;
}
.front-testimonial .container {
  position: relative;
}
.front-testimonial .view-header {
  padding: 0 60px;
  margin-bottom: 40px;
}
.front-testimonial .view-content {
  padding: 0 60px;
}
.front-testimonial .view-content ul {
  padding: 0;
  z-index: 999;
}
.front-testimonial .view-content ul li {
  min-height: 368px;
}
.front-testimonial .view-content .testimonial-box .without-img {
  text-align: center;
}
.front-testimonial .view-content .testimonial-box .with-client-image {
  padding: 0 15px;
  text-align: left;
}
.front-testimonial .view-content .testimonial-box .teaser {
  margin-bottom: 40px;
  font-size: 1em;
  font-family: "Merriweather", sans-serif, Helvetica, Arial;
  line-height: 37px;
  font-weight: 300;
  font-style: italic;
}
.front-testimonial .view-content .testimonial-box .auther,
.front-testimonial .view-content .testimonial-box .job-title,
.front-testimonial .view-content .testimonial-box .company {
  font-size: 0.889em;
}
.front-testimonial .view-content .testimonial-box .action-text {
  margin-top: 50px;
}
.front-testimonial .view-footer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.front-testimonial .view-footer .controls .slide-control {
  position: absolute;
  top: 50%;
  z-index: 999;
}
.front-testimonial .view-footer .controls .slide-control-left:before,
.front-testimonial .view-footer .controls .slide-control-right:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 29px;
  height: 31px;
}
.front-testimonial .view-footer .controls .slide-control-left {
  left: 16px;
}
.front-testimonial .view-footer .controls .slide-control-left:before {
  background: url("../images/testimonial-next-prev.png") no-repeat left 0;
}
.front-testimonial .view-footer .controls .slide-control-right {
  left: auto;
  right: 16px;
}
.front-testimonial .view-footer .controls .slide-control-right:before {
  background: url("../images/testimonial-next-prev.png") no-repeat right 0;
}
/** Front testimonial **/
/** Front feeds **/
.front-feeds .feed-box.odd .feed-img:before,
.front-feeds .feed-box.even .feed-img:before {
  position: absolute;
  content: "\00a0";
  width: 100%;
  height: 100%;
}
.front-feeds .feed-box.odd .feed-img:before {
  background: rgba(83, 177, 201, 0.8);
}
.front-feeds .feed-box.odd .contant-section .path a:hover {
  color: #53b1c9;
}
.front-feeds .feed-box.even .feed-img:before {
  background: rgba(134, 130, 221, 0.6);
}
.front-feeds .feed-box.even .contant-section .path a:hover {
  color: #8682dd;
}
.front-feeds .blog-box.odd .feed-img:before {
  background: rgba(134, 130, 221, 0.6);
}
.front-feeds .contant-section {
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
}
.front-feeds .contant-section h2 {
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 1.667em;
}
.front-feeds .contant-section .title {
  padding: 0 20px;
  font-size: 1.222em;
  line-height: 30px;
}
.front-feeds .contant-section .created {
  margin-top: 15px;
  font-size: 0.778em;
}
.front-feeds .contant-section .path {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 48px;
  font-size: 0.889em;
}
.front-feeds .contant-section .path a {
  display: inline-block;
  padding: 8px 41px;
  color: #fff;
  border: solid 3px #fff;
  border-radius: 5px;
}
.front-feeds .contant-section .path a:hover {
  background: #fff;
  text-decoration: none;
}
/** Front feeds **/
/** Front accreditations **/
.front-accreditations {
  margin-top: 40px;
}
.front-accreditations ul li {
  display: inline-block;
  margin: 0 9%;
}
.front-accreditations ul li:hover {
  opacity: .5;
}
/** Front accreditations **/
/** Home page **/
/** Home page responsive **/
@media all and (max-width: 1295px) and (min-width: 1199px) {
  /** Front services **/
  .front-services .tab_wrapper.right_side > ul li {
    padding: 20px 18px;
  }
  /** Front services **/
}
@media (max-width: 1199px) {
  /** Front services **/
  .front-services .tab_list .fnt-services-icon {
    margin: 0 30px;
  }
  .front-services .tab_list .fnt-services-box {
    width: 69%;
  }
  .front-services .tab_list .fnt-services-teaser {
    line-height: 21px;
  }
  /** Front services **/
  /** Front feeds **/
  .front-feeds .contant-section {
    top: 30px;
  }
  .front-feeds .contant-section h2 {
    margin: 0 0 20px 0;
  }
  .front-feeds .contant-section .title {
    font-size: 1.2em;
    line-height: 28px;
  }
  .front-feeds .contant-section .path {
    bottom: 30px;
  }
  /** Front feeds **/
  /** Front accreditations **/
  .front-accreditations ul li {
    margin: 0 7%;
  }
  /** Front accreditations **/
}
@media (max-width: 991px) {
  /** Front services **/
  .front-services .tab_list .fnt-services-icon {
    width: 17%;
  }
  .front-services .tab_list .fnt-services-box {
    width: 66%;
  }
  .front-services .tab_list .fnt-services-title {
    font-size: 1.400em;
  }
  .front-services .tab_list .fnt-services-teaser {
    font-size: 15px;
    line-height: 19px;
  }
  .front-services .content_wrapper .frnt-services-cnt {
    font-size: 16px;
    line-height: 24px;
  }
  /** Front services **/
  /** Front testimonial **/
  .front-testimonial {
    margin-bottom: 20px;
  }
  .front-testimonial .view-header h2 {
    font-size: 1.500em;
  }
  .front-testimonial .view-content {
    padding: 0 50px;
  }
  .front-testimonial .view-content ul li {
    min-height: 250px;
  }
  .front-testimonial .view-content .testimonial-box .teaser {
    margin-bottom: 25px;
    font-size: 0.900em;
    line-height: 25px;
  }
  .front-testimonial .view-content .testimonial-box .auther {
    margin-bottom: 25px;
    font-size: 0.800em;
  }
  /** Front testimonial **/
  /** Front feeds **/
  .front-feeds .contant-section {
    top: 22px;
  }
  .front-feeds .contant-section h2 {
    margin: 0 0 13px 0;
    font-size: 1.200em;
  }
  .front-feeds .contant-section .title {
    padding: 0 18px;
    font-size: 0.800em;
    line-height: 20px;
  }
  .front-feeds .contant-section .created {
    margin-top: 11px;
    font-size: 0.700em;
  }
  .front-feeds .contant-section .path {
    bottom: 20px;
    font-size: 0.700em;
  }
  .front-feeds .contant-section .path a {
    padding: 5px 41px;
  }
  /** Front feeds **/
  /** Front accreditations **/
  .front-accreditations ul li {
    margin: 0 4%;
  }
  /** Front accreditations **/
}
@media (max-width: 767px) {
  .front-page .front-btn {
    display: block;
    margin: 30px 0 0 0;
  }
  /** Front testimonial **/
  .front-testimonial {
    margin-bottom: 0;
    text-align: center;
  }
  .front-testimonial .view-header {
    padding: 0;
  }
  .front-testimonial .view-header h2 {
    margin-bottom: 30px;
  }
  .front-testimonial .view-content {
    padding: 0;
  }
  .front-testimonial .view-content ul li {
    min-height: 274px;
  }
  .front-testimonial .view-content .testimonial-box .with-client-image {
    text-align: center;
  }
  /** Front testimonial **/
  /** Front feeds **/
  .front-feeds .feed-box {
    margin-bottom: 40px;
  }
  .front-feeds .feed-box .feed-callout .img-section img {
    width: 100%;
  }
  .front-feeds .contant-section {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }
  .front-feeds .contant-section .path {
    position: relative;
    bottom: 0;
    margin: 40px 15px 0;
    font-size: 0.900em;
  }
  .front-feeds .contant-section .path a {
    width: 100%;
    padding: 8px 0;
    border-radius: 0;
  }
  /** Front feeds **/
  /** Front accreditations **/
  .front-accreditations {
    margin-top: 0;
  }
  .front-accreditations ul li {
    width: 100%;
    margin: 40px 0;
  }
  /** Front accreditations **/
}
/** Home page responsive **/
/** Footer **/
.footer {
  padding: 55px 0 60px;
  background: #004a99;
  color: #fff;
}
.footer .consultation-box h2 {
  margin: 0 0 30px;
  color: #fff;
  font-size: 1.667em;
}
.footer .consultation-box .clear-block .content {
  padding-right: 30%;
}
.footer .consultation-box .clear-block .content p {
  font-size: 1.222em;
  line-height: 30px;
}
.footer .consultation-box .clear-block .content p a {
  display: inline-block;
  width: 264px;
  margin-top: 40px;
  padding: 10px 0;
  background: #eb6209;
  color: #fff;
  font-size: 0.773em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
.footer .consultation-box .clear-block .content p a:hover {
  background: #78cbe0;
}
.footer .find-us h2,
.footer .contact-us h2 {
  margin-top: 0;
  color: #fff;
  font-size: 1.000em;
  font-family: "Droid Sans", sans-serif, Helvetica, Arial;
}
.footer .find-us ul li,
.footer .contact-us ul li {
  font-size: 0.889em;
  line-height: 28px;
}
.footer .find-us ul li a,
.footer .contact-us ul li a {
  color: #fff;
}
.footer .footer-bottom {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}
.footer .footer-text {
  margin-top: 30px;
  clear: both;
}
.footer .utilities-menu {
  margin-top: 40px;
}
.footer .utilities-menu ul li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 0.889em;
  line-height: 44px;
}
.footer .utilities-menu ul li a {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #fff;
  color: #fff;
  line-height: 16px;
}
.footer .utilities-menu ul li.last a {
  border: none;
}
.footer .social-network {
  margin-top: 40px;
  padding-right: 15px;
  clear: both;
}
/** Footer **/
/** Footer responsive **/
@media (max-width: 1199px) {
  .footer .utilities-menu ul li a {
    padding: 0 9px;
  }
  .footer .consultation-box .clear-block .content {
    padding-right: 15%;
  }
}
@media (max-width: 991px) {
  .footer .find-us ul li,
  .footer .contact-us ul li {
    font-size: 0.740em;
    line-height: 24px;
    word-break: break-all;
  }
  .footer .utilities-menu ul li {
    font-size: 0.700em;
    line-height: 44px;
  }
  .footer .utilities-menu ul li a {
    padding: 0 6px;
    line-height: 14px;
  }
  .footer .consultation-box h2 {
    font-size: 1.200em;
  }
  .footer .consultation-box .clear-block .content {
    padding-right: 15%;
  }
  .footer .consultation-box .clear-block .content p {
    font-size: 0.800em;
    line-height: 21px;
  }
  .footer .consultation-box .clear-block .content p a {
    width: 240px;
    margin-top: 20px;
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 40px 0;
  }
  .footer .consultation-box {
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .consultation-box .clear-block .content {
    padding-right: 0;
  }
  .footer .find-us ul li,
  .footer .contact-us ul li {
    font-size: 0.600em;
    line-height: 18px;
  }
  .footer .social-network {
    float: left !important;
    margin-top: 20px;
    padding-left: 15px;
  }
  .footer .utilities-menu {
    margin-top: 20px;
  }
  .footer .utilities-menu ul {
    text-align: center;
  }
  .footer .utilities-menu ul li {
    display: inline-block;
    float: none;
    font-size: 0.889em;
    line-height: 25px;
  }
}
/** Footer responsive **/
/** Inner page */
.terms-inline {
  display: none;
}
.pager li {
  margin: 0 !important;
  background: transparent !important;
}
/** Inner banners **/
.inner-banner .inner-banner-cnt {
  top: 0;
  bottom: 0;
  width: 100%;
}
.inner-banner .inner-banner-cnt .container,
.inner-banner .inner-banner-cnt .row {
  height: 100%;
}
.inner-banner .banner-image:before {
  position: absolute;
  content: "\00a0";
  height: 100%;
  width: 100%;
  background: rgba(52, 52, 52, 0.7);
}
.inner-banner img {
  width: 100%;
}
.inner-banner .bg-width {
  height: 100%;
}
.inner-banner .banner-content {
  height: 100%;
  color: #fff;
  background: rgba(58, 138, 158, 0.7);
}
.inner-banner .banner-content h1 {
  top: 50%;
  margin: 0 28px;
  color: #fff;
  font-size: 2.222em;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
/** Inner banners **/
.not-front #content-content ul {
  margin-top: 30px;
  padding-left: 95px;
}
.not-front #content-content ul li {
  margin-bottom: 30px;
  line-height: 30px;
}
/** inner page **/
.inner-page #content h1 {
  margin: 0 0 50px;
  font-size: 2.222em;
  line-height: 52px;
}
.inner-page #content p {
  margin-bottom: 30px;
}
/** inner page **/
/** Breadcrumb **/
.breadcrumb {
  margin-bottom: 10px;
  background: none;
}
.breadcrumb li {
  font-size: 0.778em;
}
.breadcrumb li a {
  color: #7d7d7d;
}
.breadcrumb li.active {
  color: #65b8ce;
}
.breadcrumb li + li:before {
  display: inline;
  color: #5c6b71;
  padding-right: 15px;
  font-size: 14px;
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f105';
  color: #7d7d7d;
}
/** Breadcrumb **/
/** left sidebar **/
.leftside-menu h2 {
  margin: 0 0 15px;
  font-size: 1.500em;
}
.leftside-menu ul {
  padding: 0;
}
.leftside-menu ul li {
  margin: 0;
  padding: 6px 0;
  font-size: 1.111em;
  line-height: 29px;
}
.leftside-menu ul li a {
  display: block;
  color: #004a99;
}
.leftside-menu ul li a.active-trail {
  font-weight: bold;
}
.leftside-menu ul li ul li {
  padding-bottom: 10px;
  line-height: 27px;
  font-size: 0.870em;
}
.leftside-menu ul li ul li a {
  color: #656565;
}
.leftside-menu ul li ul li ul li {
  padding: 5px 0;
  line-height: 23px;
  font-size: 0.780em;
}
/** left sidebar **/
/** left sidebar blog **/
.sidebar-blog {
  margin-top: 25px;
}
.sidebar-blog .view-header h2 {
  font-size: 1.111em;
  font-weight: 700;
}
.sidebar-blog .title,
.sidebar-blog .teaser {
  font-size: 0.889em;
  line-height: 24px;
  font-weight: 700;
}
.sidebar-blog .title a,
.sidebar-blog .teaser a {
  color: #4f4f4f;
}
.sidebar-blog .teaser {
  font-weight: 400;
}
/** left sidebar blog **/
/** left sidebar testimonials **/
.sidebar-testimonials {
  margin-top: 40px;
}
.sidebar-testimonials .teaser {
  font-size: 1.111em;
  font-family: "Merriweather", sans-serif, Helvetica, Arial;
  line-height: 30px;
  font-weight: 300;
}
.sidebar-testimonials .author {
  margin-top: 5px;
  color: #4f4f4f;
  font-size: 0.889em;
  line-height: 30px;
}
.sidebar-testimonials .path {
  margin-top: 20px;
}
.sidebar-testimonials .path a {
  width: auto;
  padding: 13px 40px;
}
/** left sidebar testimonials **/
/** landing page lists **/
.landing-page .view-row {
  margin: 0 0 30px;
}
.landing-page .view-row a {
  display: block;
  background: rgba(83, 177, 201, 0.4);
  color: #fff;
}
.landing-page .view-row a .content {
  left: 15px;
  bottom: 0;
  right: 15px;
  margin: 0 0 10px;
  padding: 0 15px;
}
.landing-page .view-row a .content .node-title {
  font-size: 1.111em;
  font-family: "Merriweather", sans-serif, Helvetica, Arial;
  text-transform: uppercase;
  font-weight: 700;
}
.landing-page .view-row a .content .node-teaser {
  font-size: 0.944em;
}
.landing-page .view-row a .thumb-image {
  z-index: -1;
}
.landing-page .view-row a .thumb-image img {
  width: 100%;
}
.landing-page .view-row a .overlay {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  right: 15px;
  height: 100%;
  opacity: 0;
  background-color: #53b1c9;
}
.landing-page .view-row a:hover {
  text-decoration: none;
}
.landing-page .view-row a:hover .overlay {
  opacity: 1;
}
.landing-page .view-row a:hover .node-title {
  z-index: 1;
}
.landing-page .view-row a:hover .node-teaser {
  z-index: 1;
}
.landing-page .view-row:last-child {
  margin-bottom: 11px;
}
/** landing page lists **/
/** Staff landing **/
#staff-directory .view-content {
  margin-left: -15px;
  margin-right: -15px;
}
.staff-list {
  margin-bottom: 33px;
}
.staff-list .profile {
  margin: 0;
}
.staff-list .profile .staff-image:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(83, 177, 201, 0.4);
}
.staff-list .profile .staff-image img {
  width: 100%;
}
.staff-list .profile .overlay {
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
}
.staff-list .profile .staff-detail {
  bottom: 0;
  margin-bottom: 15px;
  padding: 0 15px;
  width: 100%;
}
.staff-list .more-section {
  margin-top: 20px;
}
.staff-list .more-section .more-btn {
  margin-top: 20px;
  font-size: 0.833em;
}
.staff-list .more-section .more-btn a {
  width: 100%;
  padding: 10px 0;
}
.staff-list:hover .overlay {
  display: block;
  background: #004a99;
  color: #fff;
}
/** Staff landing **/
/** Staff inner page **/
.section-staff-directory #content .staff-info h1 {
  margin-bottom: 20px;
}
.section-staff-directory #content .staff-info p {
  margin-bottom: 10px;
}
.section-staff-directory .field-field-expertise-staff {
  margin-top: 40px;
}
.section-staff-directory .field-field-expertise-staff .field-label {
  display: inline-block;
  margin-bottom: 10px;
  color: #5c6b71;
  font-size: 1.100em;
  font-family: "Merriweather", sans-serif, Helvetica, Arial;
  font-weight: 400;
}
.section-staff-directory #profile-body table td {
  padding: 10px;
}
/** Staff inner page **/
/** Testimonials **/
.testimonials-box {
  margin-bottom: 40px;
}
.testimonials-box .body p {
  margin-bottom: 10px !important;
}
/** Testimonials **/
/** CTA Banner **/
.cta-banner {
  margin: 40px 0;
}
.cta-banner .clear-block .content {
  padding: 15px 30px;
  background: #ebebeb;
}
.cta-banner .clear-block .content h2 {
  margin-top: 0;
  color: #12b1b7;
  line-height: 49px;
}
.cta-banner .clear-block .content p a {
  display: inline-block;
  width: 360px;
  margin-top: 5px;
  padding: 13px 0;
  background: #53b1c9;
  color: #fff;
  font-size: 1.111em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
/** CTA Banner **/
/** News & blog page **/
.inner-update {
  margin-bottom: 40px;
}
.inner-update h2 {
  margin-bottom: 15px !important;
  font-size: 1.778em !important;
  line-height: 45px !important;
}
.inner-update .node-post-date {
  font-size: 0.850em;
}
.inner-update .node-teaser p {
  margin-bottom: 10px !important;
}
.inner-update .more-btn a {
  display: inline-block;
  width: auto;
  padding: 7px 15px;
  font-size: 0.850em;
}
/** News & blog page **/
/** Contact page **/
.company-information tbody {
  border: none;
}
.company-information input[type="text"] {
  height: 45px;
}
.contact-form {
  margin-top: 40px;
}
/** Contact page **/
.section-cookies .inner-banner,
.section-accessibility-statement .inner-banner,
.section-terms-and-conditions .inner-banner {
  display: none;
}
.section-sitemap .site-map ul li {
  margin-bottom: 0 !important;
}
.section-sitemap .site-map ul li ul {
  margin-top: 10px !important;
  padding-left: 25px !important;
}
/** Inner page */
/** Inner page responsive **/
@media (max-width: 1199px) {
  /** landing page lists **/
  .landing-page .view-row a .content .node-title {
    font-size: 0.900em;
  }
  .landing-page .view-row a .content .node-teaser {
    font-size: 0.800em;
  }
  /** landing page lists **/
  /** Staff landing **/
  .staff-list .profile .staff-detail .email {
    font-size: 0.833em;
  }
  /** Staff landing **/
}
@media (max-width: 991px) {
  /** Inner banners **/
  .inner-banner .banner-content h1 {
    margin: 0 15px;
    font-size: 1.200em;
  }
  /** Inner banners **/
  /** left sidebar **/
  .leftside-menu ul li {
    margin-bottom: 10px;
    font-size: 0.900em;
    line-height: 26px;
  }
  .leftside-menu ul li ul li {
    margin-bottom: 0;
    padding-bottom: 8px;
    font-size: 0.820em;
    line-height: 19px;
  }
  /** left sidebar **/
  /** left sidebar testimonials **/
  .sidebar-testimonials .teaser {
    font-size: 0.900em;
    line-height: 23px;
  }
  .sidebar-testimonials .author {
    font-size: 0.780em;
  }
  .sidebar-testimonials .path a {
    padding: 8px 15px !important;
  }
  /** left sidebar testimonials **/
  /** Staff landing **/
  .staff-list .profile .staff-detail {
    padding: 0 5px;
  }
  .staff-list .profile .staff-detail .position,
  .staff-list .profile .staff-detail .telephone,
  .staff-list .profile .staff-detail .email {
    font-size: 0.700em;
  }
  .staff-list .profile .staff-detail .email {
    word-break: break-word;
  }
  .staff-list .more-section .name {
    font-size: 0.850em;
  }
  .staff-list .more-section .more-btn {
    font-size: 0.800em;
  }
  /** Staff landing **/
  /** Contact page **/
  .company-information {
    font-size: 0.780em;
  }
  /** Contact page **/
}
@media (max-width: 767px) {
  /** Inner banners **/
  .inner-banner .banner-content h1 {
    font-size: 1.000em;
  }
  /** Inner banners **/
  .not-front #content-content ul {
    padding-left: 25px;
  }
  /** Staff landing **/
  .staff-list .profile .staff-detail {
    padding: 0 15px;
  }
  .staff-list .profile .staff-detail .position,
  .staff-list .profile .staff-detail .telephone,
  .staff-list .profile .staff-detail .email {
    font-size: 0.900em;
  }
  .staff-list .more-section .name,
  .staff-list .more-section .more-btn {
    font-size: 0.900em;
  }
  /** Staff landing **/
  /** Staff inner page **/
  .section-staff-directory .field-field-expertise-staff {
    margin-bottom: 20px;
  }
  /** Staff inner page **/
  /** landing page lists **/
  .landing-page .view-row a .content .node-title {
    margin-bottom: 5px;
    font-size: 0.900em;
  }
  .landing-page .view-row a .content .node-teaser {
    font-size: 0.800em;
  }
  /** landing page lists **/
  /** CTA Banner **/
  .cta-banner .clear-block .content p a {
    display: block;
    width: auto;
  }
  /** CTA Banner **/
  .inner-update .more-btn a {
    padding: 7px 15px !important;
  }
  /** Contact page **/
  .contact-map {
    margin-top: 30px;
  }
  /** Contact page **/
  .cta-banner {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  /** Staff landing **/
  .staff-list.col-xs-6 {
    width: 100%;
  }
  /** Staff landing **/
}
/** Inner page responsive **/
.search-results .search-info {
  display: none;
}
/* video panel*/
.video-panel,
.benifits-panel {
  background-color: #ebebeb;
}
.video-panel,
.work-panel,
.benifits-panel,
.booking-panel {
  padding-top: 80px;
  padding-bottom: 80px;
}
.video-panel,
.work-panel {
  padding-top: 80px;
  padding-bottom: 80px;
}
.video-panel .title,
.work-panel .title {
  font-size: 1.556em;
  margin-top: 0;
  margin-bottom: 1.3em;
}
.work-panel {
  padding-top: 70px;
}
.benifits-panel ul li {
  float: left;
  width: 50%;
  text-align: left;
  list-style: none !important;
}
.benifits-panel ul li:before {
  display: inline;
  color: #5c6b71;
  padding-right: 15px;
  font-size: 14px;
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #004a99;
  font-size: 1.333em;
}
.benifits-panel ul li:nth-child(1),
.benifits-panel ul li:nth-child(3),
.benifits-panel ul li:nth-child(5) {
  float: left;
  clear: left;
}
.benifits-panel ul li:nth-child(2),
.benifits-panel ul li:nth-child(4),
.benifits-panel ul li:nth-child(6) {
  float: right;
  clear: right;
}
.benifits-panel ul li:nth-child(1):before {
  content: "\f08a";
}
.benifits-panel ul li:nth-child(2) {
  clear: left;
}
.benifits-panel ul li:nth-child(2):before {
  content: "\f1cd";
}
.benifits-panel ul li:nth-child(3):before {
  content: "\f0e8";
}
.benifits-panel ul li:nth-child(4):before {
  content: "\f1eb";
}
.benifits-panel ul li:nth-child(5):before {
  content: "\f219";
}
.benifits-panel ul li:nth-child(6) {
  clear: left;
}
.benifits-panel ul li:nth-child(6):before {
  content: "\f046";
}
.booking-panel {
  color: #ffffff;
  background-color: #477eb6;
}
.booking-panel h2,
.booking-panel a {
  color: inherit;
}
.booking-panel p {
  padding: 20px 10px;
}
